@media screen and (max-width: 400px) {
    #logo_h1{
        left: 1vw;
        top: 18vh;
        font-size: 48px;
        line-height: 42px;
    }
    main .logos .span_head{
        top: 16.3vh;
        left:3vw;
    }

    main .logos .span_footer{
        font-size: 12px;
        line-height: 21px;
        left: 55vw;
        top: 6vh;
    }
    main .logos .img_auto{
        top:47vw+18vw;
        left: 40vw-30vw;
    }
  }

@media screen and (max-width: 600px) {
    .heder_href_none {
      display: none;
    } 

    #border_zero{
        border: 0px;    
    }

    .nav_bat_non{
        display: flex;
    }

  }

  @media screen and (max-width: 700px) {
    
  }

  @media screen and (max-width: 800px) {
    main .logos .span_head{
        font-size: 10px;
        line-height: 21px;
    }
    .flex_colum{
        flex-direction: column;
    }

    #position_static{
        position: static;
        p{
            margin-right: 0;
        }
    }

    #border_zero{
        border: 0px;    
        
    }

    .about{
        left: 0;
    }

    .year_other_absolut{
        position: absolute;
        top:-100px;
    }

    .margin_right_left{
        margin-left: 5%;
        margin-right: 5%;
    }

    .mardin_car{
        margin-top: 100px;
    }

    .margin_footer_content{
        padding-top: 20px;
    }

    #section_main{
        padding-left: 0;
        padding-right: 0;
    }

    #bordr_bottum{
        border-bottom: 2px solid #BDBDBD;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .order{
        order: -1;
    }
    #img_drive{
        width: 100%;
        height: 100%;
    }
    #text_alg_just{
        text-align: left;
        justify-content: start;
    }

    .flex_media{
        flex:1;
    }

    .flexus_row{
        display: flex;
        a{
            flex: 1;
        }
    }

    #foter_info{
        margin-right: 0;
    }

   

    

    .race_win_power{
        font-size: 3.3vw;
        line-height: 20px;
    }
  }

